/* CSS Document */

/**************** menu coding *****************/
#menu {
position:absolute;
top:0;
width: 900px;
background:#7679F3;
border-bottom:solid 1px #999999;
float: left;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 220px;
float: left;
}

#menu ul li ul {
list-style: none;
margin: 0;
padding: 0;
width: 15em;
float: left;
}

#menu a, #menu h2 {
font: bold 11px/16px arial, helvetica, sans-serif;
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 3px;
}

#menu h2 {
color: #fff;
background:#666666;
text-transform: uppercase;
text-align:center;
border-top:1px solid #009900;
border-bottom:1px solid #7469F1;
}

#menu h2:hover {
color:#E6FBE7;
background:#009900;
}

#menu a {
color:#999999;
background:#E6FFCC;
text-decoration: none;
}

#menu a:hover {
color:#E6FBE7;
background: #009900;
border-bottom:1px solid #FBFAEA;
}

#menu li {
position: relative;
}

#menu ul ul {
position: absolute;
z-index: 500;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}
