/* used for content boxes */
html,body {
	font-family: Arial, Helvetica, Verdana, Candara, sans-serif;
	margin:0;
	text-align:center;
	background:#9D9D9D;
	background-image: url("includes/template/images/backplate.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	font-size:12px;
}
.container {
	position:relative;
	width:901px;
	margin:0 auto;
	top:0;
	text-align:left;
}
.content_box {
	position:relative;
	padding-top:106px;
	width:900px;
	background:#FFFFFF;
}
.header_box {
	position:absolute;
	top:8px;
	margin:0 auto;
	width:900px;
	height:84px;
}
.page_footer {
	background:#FFF;
	padding-top:20px;
	width:900px;
}
